
* {
  color: green;
}

li {
  color: blue;
}
li#special {
  color: pink;
}

.red {
  width: 100px;
  height: 100px;
  padding: 20px 0px;
  margin: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: pink;
  background: yellow;
}

button:hover {
  color: red;
  background: beige;
}

a[href$=".com"] {
  color: purple;
}