
* {
  color: green;
}

li {
  color: blue;
}
li#special {
  color: pink;
}

.red {
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  background: yellow;
}

button:hover {
  color: red;
  background: beige;
}

a[href$=".com"] {
  color: purple;
}